.pinout_big {
    position: relative;
    display: block;
    margin: 20px auto;
    a {
        position: relative;
        display: inline-block;
        border-bottom: none;
    }
    figcaption { display: none; }
}